html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
	color: #d4d4d4d5;
	background: #121212;
}

html.dark {
	color: #d4d4d4d5;
	background: #121212;
}

.type-container::-webkit-scrollbar {
	width: 0;
}
